<a href="https://colab.research.google.com/github/kanakhan/GMSW/blob/main/3_%EC%9E%90%EB%A3%8C_%EA%B5%AC%EC%A1%B0_%EC%9C%A0%ED%98%95_%EB%B0%8F_%EC%B2%98%EB%A6%AC(3)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 리스트(list)



*   순서를 가지는 객체의 집합으로 하나의 변수에 여러 값을 할당하는 자료형
*   [ ]이용해 리스트를 만듦.
*   숫자, 문자, 숫자&문자 모두 가능하며, 리스트 안에 리스트도 삽입 가능

### 1) 리스트(list) 생성

In [ ]:
print([])

[]

In [ ]:
list_1 = [1, 2, 3]
print(list_1, type(list_1))

[1, 2, 3] <class 'list'>

In [ ]:
list_a = [1,2,3,["a","b","c"]]
list_a
list_a[3][0]

'a'

### 2) 리스트(list) 객체 접근: index, [ ], slicing

In [ ]:
ls = [1,2,3,['one','two','three']]
ls[2]

3

In [ ]:
ls = [1,2,3,['one','two','three']]
ls[3]

['one', 'two', 'three']

In [ ]:
ls = [1,2,3,['one','two','three']]
ls[3][1][1]

'w'

In [ ]:
ls[3][0:2]

['one', 'two']

### 3) 리스트(list) 연산

In [ ]:
ls_1 = ['one','two','three']
ls_2 = ['four', 'five', 'six']
ls_3 = ls_1 + ls_2
ls_3

['one', 'two', 'three', 'four', 'five', 'six']

In [ ]:
ls_4 = ls_1*3
ls_4

['one', 'two', 'three', 'one', 'two', 'three', 'one', 'two', 'three']

In [ ]:
ls_4[0] = 5
ls_4

[5, 'two', 'three', 'one', 'two', 'three', 'one', 'two', 'three']

### 4) 리스트(list) 객체 수정

In [ ]:
ls_4 = [1,2,3]
ls_4[0] = 'two'
ls_4

['two', 2, 3]

### 5) 리스트(list) 메소드(method)

﻿
* index: 리스트의 객체 순서(첫번째는 0)

* append: 리스트의 맨 끝 인덱스에 새로운 값을 추가

* insert: 리스트의 특정 위치에 값을 추가

* remove: 리스트 요소 제거(요소명)

* pop: 리스트의 요소 방출(인텍스), 인텍스를 지정하지 않으면 마지막 요소 방출

* del: 리스트의 요소 제거 연산(인텍스)

* sort: 정렬

* reverse: 순서 뒤집기

* extend: 새로운 리스트를 기존 리스트에 추가

* clear: 모두 지우기

﻿

### 6. 리스트 활용 예제



*   '호날도', '메시', '손흥민', '살라'가 순서대로 풋살팀에 가입

In [ ]:
ls_0 = []
ls_0.append("호날도")
ls_0.append('메시')
ls_0.append("손흥민")
ls_0.append("살라")
print(ls_0)

['호날도', '메시', '손흥민', '살라']

*   '손흥민'은 몇 번째로 풋살팀에 가입했나?

In [ ]:
print(ls_0.index("손흥민"))
ls_0

2

['호날도', '메시', '손흥민', '살라']

*   '음바페'가 새롭게 풋살팀에 합류함.

In [ ]:
ls_0.append("음바페")
ls_0

['호날도', '메시', '손흥민', '살라', '음바페']

*  '메시'가 풋살팀에 탈퇴함.

In [ ]:
ls_0.remove('메시')
ls_0

['호날도', '손흥민', '살라', '음바페']

*   1달 후 '메시'가 다시 합류해 원래 순서인 두 번째 위치(index = 1)에 추가

In [ ]:
ls_0.insert(1,'메시')
ls_0

['호날도', '메시', '손흥민', '살라', '음바페']

 * 가장 먼저 들어온 '호날도' 뽑아서 방출함.

In [ ]:
ls_0.pop(0)

'호날도'

*  새로운 멤버들 '살라(동명이인)'와 '네이마르'가 동시에 입단함.

In [ ]:
ls_0.extend(["살라", "네이마르"])

*  가장 늦게 들어온 순서대로 정렬

"살라" 인원수 확인

In [ ]:
foot.count("살라")

2

In [ ]:
foot = ["메시","손흥민","살라","음바페","살라","네이마르"]

foot.reverse()
foot

['네이마르', '살라', '음바페', '살라', '손흥민', '메시']

* 이름(알파벳) 순서별로 정렬

In [ ]:
foot.sort()
foot

['네이마르', '메시', '살라', '살라', '손흥민', '음바페']

*  풋살팀을 해체함.

In [ ]:
foot.clear()
foot

[]

## 2. 튜플(tuple)



*   튜플은 리스트와 같은 개념이지만, 값을 변경하는 것이 불가능.
*   주민번호 등 바꾸거나 수정해서는 안되는 것들을 저장
*   튜플은 ( )를 이용해서 만듦.

### 1) 튜플(tuple) 생성

In [3]:
bts = ("RM" , "진", "슈가", "제이홉", "지민", "뷔", "정국")
bts

('RM', '진', '슈가', '제이홉', '지민', '뷔', '정국')



*   bts 멤버에 '임영웅'을 넣으려고 하면

In [4]:
bts.add("임영웅")

AttributeError: ignored

In [5]:
(name, nation, id_num) = ("손흥민", "KOREA", "19920708")

In [6]:
print(name, nation, id_num)

손흥민 KOREA 19920708

### 2) 튜플 인덱싱(indexing), 슬라이싱(slicing), 연산



*   인덱싱(indexing)

In [8]:
tuple = (1,2,3,("one", "two", "three"))
tuple[1:3]

(2, 3)

*  슬라이싱(slicing)

In [9]:
tuple[3][0:3]

('one', 'two', 'three')

In [10]:
tuple[0:]

(1, 2, 3, ('one', 'two', 'three'))

In [21]:
tuple[3][:2]

('one', 'two')

* 연산

## 3. 집합(set)

* 수학에서 집합과 거의 같은 개념으로 중복이 안되고 순서도 없음.
* 집합처럼 교집합, 합집합, 차집합, 여집합을 이용
* 집합기호 { }를 이용해 자료를 생성

### 1) 집합(set) 생성

In [23]:
club_1 = {'호날두', '메시', '손흥민'}
club_2 = set(['손흥민', '살라'])
club_2

{'살라', '손흥민'}

## 2) 집합(set) 연산

- 교집합: & , intersection()

- 합집합: |, union()

- 차집합: -, difference()

- 여집합: ^, symmetric_difference()

In [29]:
club_1.union(club_2)

{'메시', '살라', '손흥민', '호날두'}

## 3) 집합(set) 메소드

* add(): 요소 추가

* update(): 여러 요소 추가

* remove(): 요소 제거

* discard(): 요소 제거

* clear(): 모든 요소 제거

* "호날도", "메시", "손흥민"이 클럽에 가입

In [38]:
club = {"호날도", "메시", "손흥민"}

* "네이마르"가 클럽에 가입

In [39]:
club.add("네이마르")

In [40]:
club

{'네이마르', '메시', '손흥민', '호날도'}

* '음바페', '홀란드' 가 동시에 가입

In [41]:
club.update(["음바페","홀란드"])
club

{'네이마르', '메시', '손흥민', '음바페', '호날도', '홀란드'}

* '손흥민' 클럽에서 탈퇴

In [42]:
club.remove('손흥민')

In [43]:
club

{'네이마르', '메시', '음바페', '호날도', '홀란드'}

* 호날두도 클럽에서 탈퇴

In [45]:
club.remove("호날도")
club

{'네이마르', '메시', '음바페', '홀란드'}

* 모두 클럽에서 탈퇴

In [46]:
club.clear()
club

set()

## 4. 딕셔너리(dictionary)

* 객체(value)에게 key(고유 구분자) 값을 부여
* 자료 유형이 '단어(key): 뜻(value)' 형태로 마치 사전처럼 되어 있어서 '딕션너리', '사전'이라고 부름
* ﻿집합 기호 { }를 사용 {key1: value1, key2: value2, key3: value3,......}

### 1) 딕셔너리(dictionary) key 할당 및 사용

* '호날도'에게 3번. '손흥민'에게 100번 캐비넷을 배정하고 확인하기

In [47]:
club = {3:'호날도', 100:"손흥민"}
print(club, type(club))

{3: '호날도', 100: '손흥민'} <class 'dict'>

In [49]:
club[3]

'호날도'

In [51]:
club[100]

KeyError: ignored

* get 메소드
* 인덱싱으로 찾으면 에러가 발생할 때 에러 메시지를 띄우고 프로그램이 멈추지만, get 방식은 에러가 발생했을 때 'none' 을 반환하고 남은 프로그램을 계속 실행

In [55]:
club.get(100)

'손흥민'

In [56]:
club.get(3)

'호날도'

In [59]:
club.get(1000)

* 락커룸이 구역별(A, B, C)로 나눠져서 '호날도'에게 'A-3'을 '손흥민'에게 'B-100'을 배정

In [60]:
club = {"A-3":'호날도', "B-100":'손흥민'}
club

{'A-3': '호날도', 'B-100': '손흥민'}

* 캐비넷 할당이 되어 있는지 확인하는 방법은 in 을 통해서 확인

In [61]:
'A-3' in club

True

In [63]:
'호날도' in club

False

### 2) 딕셔너리 자료에 value 값 추가 및 대체

* '살라'가 와서 비어있는 캐비넷 "C-10"을 배정
* '호날도'(A-3)가 나가고 '메시'가 와서 호날도의 캐빈넷을 배정

In [68]:
club["C-10"] = "살라"

In [69]:
club

{'A-3': '호날도', 'B-100': '손흥민', 'C-10': '살라'}

'호날도'(A-3)가 나가고 '메시'가 와서 호날도의 캐빈넷을 배정

In [70]:
club["A-3"] = "메시"
club

{'A-3': '메시', 'B-100': '손흥민', 'C-10': '살라'}

### 3) 딕셔너리 자료에 메소드 사용

*  다시 '메시'가 나갔다.

In [71]:
del club["A-3"]
club

{'B-100': '손흥민', 'C-10': '살라'}

* '살라'를 뽑아서 방출

In [72]:
a = club.pop("C-10")
print(a, club)

살라 {'B-100': '손흥민'}

* 남아있는 캐비넷 정보 확인

In [73]:
club.keys()

dict_keys(['B-100'])

In [74]:
club.values()

dict_values(['손흥민'])

TypeError: ignored

* '손흥민'까지 나가서 캐빈넷을 모두 비움

In [85]:
club.clear()
club

{}